<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Data List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Liter</th>
          <th>Premium</th>
          <th>Pertalite</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datas | async">
          <td>{{ numberWithDot(data.jumlahLiter) }}</td>
          <td>{{ numberWithDot(data.premium) }}</td>
          <td>{{ numberWithDot(data.pertalite) }}</td>
          <td>
            <button (click)="updateData(data.id)" 
            class="btn btn-warning" 
            style="margin-left: 10px">Update</button>
            <button (click)="deleteData(data.id)" 
            class="btn btn-danger" 
            style="margin-left: 10px">Delete</button>
              <button (click)="dataDetails(data.id)" 
              class="btn btn-info" 
              style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>